form{
  width: 1170px;
  margin: auto;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

form input{
  flex-basis: 80%;
  height: 40px;
}

form button{
  flex-basis: 20%;
}

.outerdiv{
  width: 1170px;
  margin: auto;
}

.outerdiv ul{
  margin: 0px;
  list-style: none;
  margin-top: 50px;
  padding: 0px;
}

.outerdiv ul li{
  padding: 10px;
  color: white;
  background-color: black;
  text-align: left;
  position: relative;
  margin-bottom: 20px;
  font-size: 25px;
}

.outerdiv ul li span{
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.completetodo{
  text-decoration: line-through;
  color: red !important;
  background-color: yellow !important;
}